<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing">
        <listeners>
          <add name="textLogger" />
          <!--<add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>-->
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Information,ActivityTracing">
        <listeners>
          <add name="textLogger" />
          <!--<add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>-->
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="textLogger" type="System.Diagnostics.TextWriterTraceListener" initializeData="F:\LaoluOlapegba\Myprojects\femi\FCQuickBooks\FCWBWebConnSvc\FCWBWebConnSvc\logs\WCF_logswcf_svclog.svclog" />
      <!--<add initializeData="f:\laoluolapegba\myprojects\femi\fcwbwebconnsvc\fcwbwebconnsvc\web_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="f:\laoluolapegba\myprojects\femi\fcwbwebconnsvc\fcwbwebconnsvc\web_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""    <services>
      <service name="FCQBWebConnAPI.QBWebConnSvcSoap">
        <endpoint address="https://fcc-2012qb.firstcardiology.local/fceclinicsvc/QBWebConnSvcSoap.svc"
          binding="basicHttpBinding" bindingConfiguration="" contract="IQBWebConnAPISoap" />
      </service>
    </services>/>
      </add>-->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="SchemaName" value="test" />
    <add key="recommendedVersion" value="2.2" />
    <add key="supportedMinVersion" value="1.5" />
    <add key="supportedServerVersion" value="2.2.0.1" />
    <add key="authUsername" value="eclinic" />
    <add key="authPassword" value="eclinic2017" />
    <add key="CompanyFileLocation" value="F:\\QB ENT 2012\\ECLINIC TEST.QBW" />
    <add key="MaxRetries" value="2" />
  </appSettings>
  <connectionStrings>
    <add name="eClatModel" connectionString="server=localhost;user id=root;password=P@ssw0rd;persistsecurityinfo=True;database=test; Convert Zero Datetime=true" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
   
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding"
                     receiveTimeout="01:00:00"
                     sendTimeout="01:00:00"
                     maxBufferSize="2000000000"
                     maxReceivedMessageSize="2000000000"
                     maxBufferPoolSize="2147483647">

          <readerQuotas maxDepth="2000000000"
               maxStringContentLength="2000000000"
               maxArrayLength="2000000000"
               maxBytesPerRead="2000000000"
               maxNameTableCharCount="2000000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
        maxMessagesToLog="2000000000" maxSizeOfMessageToLog="2000000000" />
      <endToEndTracing propagateActivity="true" activityTracing="true"
        messageFlowTracing="true" />
    </diagnostics>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>